<h1>Audiogram List (ID: <%= reg_id(@patient.hp_id) %>)</h1>

<table>
  <tr class="colored">
    <th></th>
    <th>Examdate</th>
    <!-- th>Image location</th -->
    <th>Thumbnail</th>
    <th>mean4</th>
    <th>Comment</th>
    <th></th>
    <!-- th>Manual input</th -->
  </tr>

<%# form_tag :action => 'select' do %>

<% @audiograms.each do |audiogram| %>
  <tr class="<%= cycle("", "colored") %>">
    <!-- cycle は周期的に繰り返す文字列を出力する -->
    <td><%#= check_box_tag "selected[]", audiogram.id %><br><a href="#search">▼</a></td>
    <td><%=h audiogram.examdate.strftime("%Y/%m/%d") %><br><%# =h audiogram.examdate.strftime("%X/%a") %> <%=h audiogram.examdate.strftime("%Y/%m/%d") %><br><%=h audiogram.examdate.strftime("%X") %></td>
    <!-- td><%#=h audiogram.image_location %></td -->
    <td><%= link_to(image_tag(audiogram.image_location.sub("graphs", "thumbnails")),\
      :action => "show", :id => audiogram.id )%></td>
    <td>R: <%=h mean("4R", audiogram)[:R] %><br>L: <%=h mean("4R", audiogram)[:L] %></td>
      <!-- helper method is put at app/helpers/audiograms_helper.rb -->
    <td><%=h audiogram.comment %></td>
    <!-- td><%#=h audiogram.manual_input %></td -->
    <td><%= link_to 'Show', :action => "show", :id => audiogram.id %><br>
        <% if audiogram.manual_input %><%= link_to 'Edit', edit_patient_audiogram_path(audiogram) %>
        <% else %><%= "cannot edit" %><% end %><br>
        <%= link_to 'Destroy', [audiogram.patient, audiogram], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<a name="search"></a>
<%#= submit_tag 'select 2 audiograms' %>
<%# end %>

<br />
<hr>

<%#= link_to "New audiogram for ID:#{reg_id(@patient.hp_id)}", :action => "new_for_id", \
      :id => @selected_id %>

<%# form_tag :action => 'search' do %>
  search id:
  <%#= text_field "condition", "key" %>
  <%#= submit_tag 'Search' %>
<%# end %>
